.form__login {
    margin: 2rem auto;
    width: 35rem;
    border: 0.1rem solid #e4e4e4;
    padding: 2rem;
    border-radius: 0.5rem;
}
.app__validate {
    display: none;
}

.app__validate.form-invalid {
    display: block;
    font-size: 1.2rem;
    color: red;
    top: 20px;
    left: -20%;
    right: 0;
    position: relative;
    font-weight: 500;
}

.login__heading {
    font-size: 1.8rem;
}

.form__name {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 2rem;
}

.form__name-title {
    font-size: 1rem;
}

.filed__name {
	padding: 0 1rem;
    height: 2.2rem;
    border: 0.1rem solid #e4e4e4;
    outline: none;
    border-radius: 0.4rem;
}

.invalid .form__message {
    color: red;
}

.form__message {
    font-size: 0.8rem;
}

.form__submit {
    background-color: #00a94e;
    color: var(--white-color);
    width: 6rem;
    height: 2rem;
    outline: none;
    border-color: transparent;
    font-size: 1.2rem;
    border-radius: 0.2em;
}